/*Caption Style*/

.captionOrange, .captionBlack
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange
{
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack
{
    font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
    color: #ffffff;
    text-decoration: none;
}
a.captionOrange:hover
{
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}


/* --------- */


.share-facebook {
    background-position: 0px 0px;
}

.share-facebook:hover {
    background-position: 0px -40px;
}

.share-twitter {
    background-position: -40px 0px;
}

.share-twitter:hover {
    background-position: -40px -40px;
}

.share-pinterest {
    background-position: -80px 0px;
}

.share-pinterest:hover {
    background-position: -80px -40px;
}

.share-linkedin {
    background-position: -240px 0px;
}

.share-linkedin:hover {
    background-position: -240px -40px;
}


.share-googleplus {
    background-position: -120px 0px;
}

.share-googleplus:hover {
    background-position: -120px -40px;
}


.share-stumbleupon {
    background-position: -360px 0px;
}

.share-stumbleupon:hover {
    background-position: -360px -40px;
}

.share-email {
    background-position: -320px 0px;
}

.share-email:hover {
    background-position: -320px -40px;
}

@media only screen and (max-width: 1130px) {
    .qr_code {
        display: none;
    }
}


.jssorb03 {
    position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    /*background: url(../img/b03.png) no-repeat;*/
    overflow: hidden;
    cursor: pointer;
}

.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
.jssorb03{width:100% !important;    width: 100% !important; left: 0px !important; right: 0px !important;height:35px !important;}
.imagensThumb{ border: 0px solid;width: 20% !important;text-align: center;float: left; left:0px !important;position: relative !important;height: 35px !important;}
.imagensThumb:nth-child(1){background: url(/portal/images/slider/img/inspiracoes.png) center !important; background-size: 300px 100px, cover;opacity:0.7;}
.imagensThumb span{display:none;}
.imagensThumb:nth-child(2){background: url(/portal/images/slider/img/casamento.png) center !important; background-size: 300px 100px, cover;opacity:0.7;}
.imagensThumb:nth-child(3){background: url(/portal/images/slider/img/turismo.png) center !important; background-size: 300px 100px, cover;opacity:0.7;}
.imagensThumb:nth-child(4){background: url(/portal/images/slider/img/infantil.png) center !important; background-size: 300px 100px, cover;opacity:0.7;}
.imagensThumb:nth-child(5){background: url(/portal/images/slider/img/debutante.png) center !important; background-size: 300px 100px, cover;opacity:0.7;}
.imagensThumbav{    height: 45px !important;top: -10px !important;opacity:1 !important;}


.jssora20l, .jssora20r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(/portal/images/slider/a21.png) no-repeat;
    overflow: hidden;
}
.jssora20l { background-position: -3px -33px; }
.jssora20r { background-position: -63px -33px; }
.jssora20l:hover { background-position: -123px -33px; }
.jssora20r:hover { background-position: -183px -33px; }
.jssora20l.jssora20ldn { background-position: -243px -33px; }
.jssora20r.jssora20rdn { background-position: -303px -33px; }

/*@media screen and (min-width: 320px) and (max-width: 480px) {*/
    /*.jssorb03 {*/
        /*width: 1000px !important;*/

    /*}*/
    /*#slider1_container {*/
        /*width: 280px !important;*/
    /*}*/

/*}*/