/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea/
.idea/workspace.xml
**/.idea/workspace.xml
/app/config/local
public/assets/imagens/*
public/sonhador/site/*
app/views/portal/layouts/google_analytics.blade.php
public/arquivos

app/lang/pt-BR/general.php